$hilight: #890906;
$muted: #aaa;
$base-bkg-color: #f8f8f8;

html, body {
    height: 100%;
    margin: 0;
}

#wrapper {
    min-height: calc(100% - 52px);
}

header {
    .uk-light .uk-navbar {
        a, a:visited {
            color: #fff;
        }
    }

    .uk-navbar-center .logo-accreditation {
        position: absolute;
        top: 30px;
        left: -150px;
    }

    &.uk-background-secondary {
        .logo-accreditation {
            position: absolute;
            top: 0;
            left: 0;

            img {
                height: 80px;
            }
        }

        .logo-pages {
            position: absolute;
            top: 0;
            right: 0;

            img {
                height: 80px;
            }
        }
        .uk-navbar-container:not(.uk-navbar-transparent) {
            background-color: $base-bkg-color;
        }
    }

    li.uk-active {
        border-bottom: 1px solid $hilight;
    }
}

.section-title-primary,
.hilight {
    color: $hilight;
}

.uk-article-content a {
    color: $hilight;
}

.uk-section-small {
    padding-bottom: 0;
}

.section-title {
    margin-bottom: 21px;
}

.hc-card-link {
    color: $muted;
}

footer {
    border-top: 1px solid $border-light;
    height: 52px;

    .footer-left {
        float: left;
        width: 30%;
    }

    .footer-center {
        float: left;
        width: 40%;
        text-align: center;
    }

    .footer-right {
        float: right;
        width: 30%;
        text-align: right;
    }

    .copyright,
    .footer-right {
        font-size: 80%;
    }

    .footer-left,
    .footer-center,
    .footer-right {
        line-height: 47px;
    }
}

.hc-table {
    width: 100%;

    th {
        color: $global-muted-background;
        background-color: $hilight;
        padding: 6px;
    }
}

@media only screen
and (min-device-width: 360px)
and (max-device-width: 740px) {

    html {
        font-size: 12px;
    }

    header {
        max-height: 155px;
    }

    .section-hero {
        padding-top: 0;

        .main-logo {
            width: 60%;
        }

        .hilight {
            color: #fff;
        }

        .hero-search {
            display: none;
        }
    }

    .uk-background-center-center {
        background-position: 50% 5%;
    }

    .uk-background-cover {
        background-size: contain;
    }

    .uk-navbar-container {
        position: absolute;
        top: 0;
        left: 0;
    }

    .logo-accreditation {
        display: none;
    }

    .uk-grid {
        margin-left: -15px;
    }

    .uk-card-small.uk-card-body {
        padding: 0;
    }

    .uk-card {
        width: 32%;
    }

    .uk-card-title {
        font-size: .9em;
    }

    main {
        /*margin-top: 50px;*/
    }
}
