$hilight: #890906;
$muted: #aaa;
$base-bkg-color: #f8f8f8;

html, body {
    height: 100%;
    margin: 0;
}

#wrapper {
    min-height: calc(100% - 52px);
}

header {
    nav:not(.uk-navbar-transparent) {
        border: none;
    }

    .uk-light .uk-navbar {
        a, a:visited {
            color: #fff;
        }
    }

    .uk-navbar-nav {
        height: 59px;
        margin-left: auto;
        margin-right: auto;
    }

    .logo-accreditation {
        position: absolute;
        top: 5px;
        left: 14px;

        img {
            height: 80px;
        }
    }

    &.uk-background-secondary {
        background-color: $base-bkg-color;
        height: 100px;

        .logo-pages {
            position: absolute;
            top: 0;
            left: 5px;
            height: 80px;
            width: 288px;
            margin: 3px auto 0 auto;
        }

        #search {
            position: absolute;
            top: 2px;
            right: 0;
        }

        .uk-navbar-container:not(.uk-navbar-transparent) {
            background-color: $base-bkg-color;
        }
    }

    li.uk-active {
        border-bottom: 1px solid $hilight;
    }

}

.section-title-primary,
.hilight {
    color: $hilight;
}

.section-title-primary {
    margin-top: 20px;
}

.uk-article-content a {
    color: $hilight;
}

.uk-section,
.uk-section-small {
    padding: 0;
}

.section-title {
    margin-bottom: 21px;
}

.hc-card-link {
    color: $muted;
}

footer {
    border-top: 1px solid $border-light;
    height: 52px;

    .footer-left {
        float: left;
        width: 30%;
    }

    .footer-center {
        float: left;
        width: 40%;
        text-align: center;

        img {
            width: 40px;
        }
    }

    .footer-right {
        float: right;
        width: 30%;
        text-align: right;
    }

    .copyright,
    .footer-right {
        font-size: 80%;
    }

    .footer-left,
    .footer-center,
    .footer-right {
        line-height: 47px;
    }
}

.hc-table {
    width: 100%;

    th {
        color: $global-muted-background;
        background-color: $hilight;
        padding: 6px;
    }
}



@media only screen
and (min-device-width: 360px)
and (max-device-width: 740px) {

    html {
        font-size: 12px;
    }

    header {
        max-height: 155px;

        &.uk-background-secondary {
            .logo-pages {
                left: 75px;

                img {
                    max-width: 80%;
                }
            }

            .uk-navbar-sticky {
                height: 75px;
            }

            #search {
                position: absolute;
                top: 0;
                right: 0;
                width: 20%;
                height: 75px;
                background-color: $base-bkg-color;
            }
        }
    }


    .section-hero {
        padding-top: 0;

        .main-logo {
            width: 60%;
            margin-top: 0;
        }

        .hilight {
            color: #fff;
        }

        #search {
            margin-top: 15px;
        }
    }

    .uk-background-center-center {
        background-position: 50% 5%;
    }

    .uk-background-cover {
        background-size: contain;
    }

    .uk-navbar-container {
        position: absolute;
        top: 0;
        left: 0;
    }

    .logo-accreditation {
        display: none;
    }

    .uk-grid {
        margin-left: -15px;
    }

    .uk-card-small.uk-card-body {
        padding: 0;
    }

    .uk-card {
        width: 32%;
    }

    .uk-card-title {
        font-size: .9em;
    }

    .uk-drop {
        width: 175px;
    }

    main {
        padding-top: 10px;

        .uk-section-small {
            padding-top: 0;
        }
    }

    footer {
        .footer-left {
            line-height: 12px;
            margin-top: 14px;
        }

        .footer-center img {
            width: 40px;
        }
    }
}
