<footer class="uk-section-muted uk-text-muted uk-link-muted">
    <div class="uk-container uk-container-small">
        <span class="footer-left copyright hilight">
            &copy; {{ site.footer.copyright }}
        </span>

        <span class="footer-center">
            <img src="{{ site.img_assets | absolute_url }}{{ site.logo_image.footer }}" width="50%" />
        </span>

        <span class="footer-right">
            site by <a href="https://hugle.co.uk">hugle</a>
        </span>
    </div>
</footer>
