<footer class="uk-section-muted uk-text-muted uk-link-muted">
    <div class="uk-container uk-container-small">

        <span class="footer-left copyright">
            &copy; {{ site.footer.copyright }}
        </span>

        <span class="footer-center">
            <img src="{{ site.post_assets | absolute_url }}logo-left.jpg" width="50%" />
        </span>

        <span class="footer-right">
            Produced by <a href="http://www.harbenwood.co.uk/">harbenwood</a>
        </span>

    </div>
</footer>
