<header class="uk-background-secondary">
    <div data-uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky" class="uk-sticky uk-sticky-fixed" style="position: fixed; top: 0px; width: 1904px;">
        <span class="logo-accreditation">
            <img class="" src="{{ site.img_assets | absolute_url }}rcvs_accredited.png" alt="{{ site.title }}">
        </span>

        <nav class="uk-navbar-container uk-section-muted">
            {% include navbar.html %}
        </nav>

        <span class="logo-pages">
            <img class="" src="{{ site.img_assets | absolute_url }}{{ site.logo_image.light }}" />
        </span>
    </div>
</header>
