{% if page.hero.image %}
    {% assign image = page.hero.image %}
{% endif %}

{% if page.hero.align %}
    {% assign align = page.hero.align %}
{% else %}
    {% assign align = "center" %}
{% endif %}

{% if page.hero.text %}
    {% assign text = page.hero.text %}
{% else %}
    {% assign text = "light" %}
{% endif %}

<header class="uk-background-{{ align }}-center uk-background-cover" style="background-image: url({% if image contains 'http' %}{{ image }}{% else %}{{ site.img_assets | absolute_url }}{{ image }}{% endif %});">
    <div class="uk-overlay-header">

        <nav class="uk-navbar-container uk-navbar-transparent uk-{{ text }}">
            {% include navbar.html %}
        </nav>

        <div class="uk-section section-hero {{ text }}" data-uk-scrollspy="cls: uk-animation-slide-bottom-small; repeat: true">
            <div class="uk-container">
                <div class="logo-accreditation">
                    <img class="" src="{{ site.img_assets | absolute_url }}rcvs_accredited.png" alt="{{ site.title }}">
                </div>

                <img class="uk-align-center main-logo" src="{{ site.img_assets | absolute_url }}{{ site.logo_image.header }}" />
                {% if page.subtitle %}<p class="subtitle uk-text-lead uk-text-center">{{ page.subtitle | escape }}</p>{% endif %}

                <div class="uk-text-center uk-light hilight">
                   Tel: 01425 672742 
                </div>
            </div>
        </div>
    </div>
</header>
